<% if flash[:errors].present? %>
  <div class="alert alert-danger mt-3">
    <ul>
      <% if flash[:errors].is_a?(Array) %>
        <% flash[:errors].each do |e| %>
          <li><%= e %></li>
        <% end %>
      <% else %>
        <li><%= flash[:errors] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
